<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Cadastro de Usuários </title>
        <link rel="stylesheet" href="../CSS/Cadastro.css">
    </head>

    <body>
        <div id="corpo_cadastro">
            <form method="POST" action="../../Controllers/Cadastro.php">
                <h1> Cadastro de Usuários </h1>
                <input type="text" placeholder="Nome Completo" name="nome" id="nome" maxlength="45">
                <input type="text" placeholder="Nome de usuário" name="login" id="login" maxlength="20">
                <input type="password" placeholder="Senha" name="senha" id="senha" maxlength="20">
                <input type="password" placeholder="Confirme sua senha" name="confirmaSenha" id="confirmaSenha" maxlength="20">
                <button type="submit" name="finalizar" id="finalizar"><strong>Finalizar Cadastro</strong></button>
            </form>   
        </div>             
    </body>
</html>