*{
    margin: 0px;
    padding: 0px;
}

input {
    display:block;
    height: 25px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 10pt;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.01);
    outline: none;
}

button {
    display: block;
    height: 25px;
    width: 200px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 10pt;
    padding: 10px 20px;
    background-color: tomato;
    border: none;
    cursor: pointer;
}

body {
    /*background-image: url("../View/CSS/background3.jpg");*/
}

div#corpo_cadastro {
    width: 450px;
    margin: 150px auto 0px auto;
}

div#corpo_cadastro h1 {
    text-align: center;
    padding: 20px;
}